doctype html
html(lang="en")
    head
        script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/card-style.css")

    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand Brand
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/") Home
                        li
                            a(href="/words") Words
                        li
                            a(href="/labels") Labels
                    form.navbar-form.navbar-left
                        .form-group
                            input(type="text", placeholder="Search").form-control
                            button(type="submit").btn.btn-default Search