include ./template.jade
table.table.table-striped.table-hover
    tr.info
        td Word
        td Translation
        td Is label?
        td Options
    each word, i in words
        tr
            td #{word.name}
            td #{word.translation}
            td
            td
                a(href="/words/edit/#{word.id_word}")
                    span.options.glyphicon.glyphicon-pencil
                a(href="/words/delete")
                    span.options.glyphicon.glyphicon-trash
